{
  "presets": ["@vue/cli-plugin-babel/preset"],
  "plugins": [
    "transform-class-properties",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ]
}
