@import './base.css';

#app {
    margin: 0 auto;

    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: blue;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: deepskyblue;
    }
}
